@model CartProductsViewModel

@{
    ViewData["Title"] = "PedidoLanches";
    decimal totalPedido = 0;
}

<h1>Lanches do Pedido</h1>
<hr />

<h3>Pedido  :  @Html.DisplayFor(model => @Model.Pedido.CartHeader.Id)</h3>
<h3>Cliente :  @Html.DisplayFor(model => @Model.Pedido.CartHeader.FirstName)</h3>
<h3>Data    :  @Html.DisplayFor(model => @Model.Pedido.CartHeader.DateTime)</h3>

<table class="table">
    @foreach (var item in @Model.Pedido.CartItems)
    {
        totalPedido += (@item.Product.Price * @item.Quantity);
        <tr>
            <td align="right">
                <h3>@Html.DisplayFor(modelItem => item.Product.Name)</h3>
            </td>
            <td align="right">
                <img src="@item.Product.ImageURL" class="img-fluid" height="100" width="100">
            </td>
            <td align="right">
                <h3>@string.Format("{0:C}", item.Product.Price)</h3>
            </td>
            <td align="right">
                <h3>(@Html.DisplayFor(modelItem => item.Quantity))</h3>
            </td>
        </tr>
    }
    <tr>
            <td colspan="2">&nbsp;</td>
            <td align="right">
                <h3>Total do Pedido : @string.Format("{0:C}", @totalPedido)</h3>
            </td>
    </tr>
</table>
<a asp-action="Index" class="btn btn-outline-info">Retornar</a>

